[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DatastreamDSWS2R"]
	path = DatastreamDSWS2R
	url = https://github.com/charlescara/datastreamdsws2r
